<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddMCHC</key>
				<true/>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixSBUS</key>
				<true/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>PatchAPIC</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#Arguments</key>
		<string>slide=0 darkwake=0</string>
		<key>#DefaultLoader</key>
		<string>boot.efi</string>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>#XMPDetection</key>
		<string>-1</string>
		<key>Arguments</key>
		<string>dk.e1000=0</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<integer>0</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#HWPEnable</key>
		<true/>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#DisableFunctions</key>
		<string>0x18F6</string>
		<key>#FakeID</key>
		<dict>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#IntelGFX</key>
			<string>0x01668086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#SATA</key>
			<string>0x26818086</string>
			<key>#WIFI</key>
			<string>0x0030168C</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>#ForceHPET</key>
		<false/>
		<key>#IntelMaxValue</key>
		<string>0x710</string>
		<key>#NoDefaultProperties</key>
		<true/>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>#SetIntelMaxBacklight</key>
		<true/>
		<key>Audio</key>
		<dict>
			<key>#Inject</key>
			<string>12</string>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>28</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>#PciRoot(0x0)/Pci(0x1C,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device-id</key>
				<data>
				8hUAAA==
				</data>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel Ethernet-Controller I225-V</string>
			</dict>
			<key>#PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BwCbPg==
				</data>
				<key>device-id</key>
				<data>
				xZsAAA==
				</data>
				<key>framebuffer-con0-busid</key>
				<data>
				BQAAAA==
				</data>
				<key>framebuffer-con0-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-flags</key>
				<data>
				xwMAAA==
				</data>
				<key>framebuffer-con0-index</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-pipe</key>
				<data>
				CQAAAA==
				</data>
				<key>framebuffer-con0-type</key>
				<data>
				AAQAAA==
				</data>
				<key>framebuffer-con1-busid</key>
				<data>
				BAAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-flags</key>
				<data>
				xwMAAA==
				</data>
				<key>framebuffer-con1-index</key>
				<data>
				AwAAAA==
				</data>
				<key>framebuffer-con1-pipe</key>
				<data>
				CAAAAA==
				</data>
				<key>framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-con2-busid</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-flags</key>
				<data>
				xwMAAA==
				</data>
				<key>framebuffer-con2-index</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-con2-pipe</key>
				<data>
				CgAAAA==
				</data>
				<key>framebuffer-con2-type</key>
				<data>
				AAQAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>model</key>
				<string>Intel UHD Graphics 630</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AwDImw==
				</data>
				<key>AAPL,slot-name</key>
				<string>Built-In</string>
				<key>device-id</key>
				<data>
				xZsAAA==
				</data>
				<key>device_type</key>
				<string>Display Controller</string>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Headless)</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>#Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Image</key>
					<string>os_mageia</string>
					<key>Path</key>
					<string>\EFI\MAGEIA\GRUBX64.efi</string>
					<key>Title</key>
					<string>Mageia Linux</string>
					<key>Type</key>
					<string>Linux</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>-v</string>
					<key>Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>M</string>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>MyCustomEntry</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>AddArguments</key>
							<string>-v</string>
							<key>Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
						</dict>
					</array>
					<key>Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>L</string>
					<key>Title</key>
					<string>MyLegacyEntry</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Arguments</key>
					<string>-b</string>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>S</string>
					<key>Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>Title</key>
					<string>MyCustomShell</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
			</array>
		</dict>
		<key>#CustomIcons</key>
		<false/>
		<key>#Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>#KbdPrevLang</key>
		<false/>
		<key>#Language</key>
		<string>ru:0</string>
		<key>#Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>2</integer>
		</dict>
		<key>#Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#TextOnly</key>
		<false/>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en-US:0</string>
		<key>PlayAsync</key>
		<false/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>ShowOptimus</key>
		<false/>
		<key>Theme</key>
		<string>Clovy</string>
	</dict>
	<key>Graphics</key>
	<dict/>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enables Intel I225-V Ethernet (req. only for 10.15.7 to 11.3) </string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				8hUAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelI210Ethernet</string>
				<key>Procedure</key>
				<string>__Z18e1000_set_mac_typeP8e1000_hw</string>
				<key>Replace</key>
				<data>
				8xUAAA==
				</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>SetupVirtualMap</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>#CsrActiveConfig (macOS 10.14/10.15)</key>
		<string>0x7FF</string>
		<key>#CsrActiveConfig (macOS 11)</key>
		<string>0x867</string>
		<key>#CsrActiveConfig (macOS 12)</key>
		<string>0xFEF</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0xFEF</string>
		<key>HWTarget</key>
		<string>J185AP</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>iMac20,1</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>#NoCaches</key>
		<false/>
		<key>#NvidiaWeb</key>
		<false/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
