<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-no_compat_check sbvmm</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Force-enable XCPM for Ivy Bridge</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				jUPEPEI=
				</data>
				<key>Procedure</key>
				<string>_xcpm_bootstrap</string>
				<key>Replace</key>
				<data>
				jUPGPEI=
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<true/>
		<key>ResizeAppleGpuBars</key>
		<integer>-1</integer>
	</dict>
</dict>
</plist>
